# Seguridad: Credenciales y variables de entorno
credentials.json
.env
*.pem
*.key

# Archivos de caché de Python y entornos virtuales
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Logs y Archivos de Debugging
*.log

# Bases de datos y memoria local
ofertas.db
notified_ids.json
usuarios.json


# ==========================================================
# IMPORTANTE: NO IGNORAR ofertas_enviadas.json
# ==========================================================
# El archivo ofertas_enviadas.json no está en esta lista.
# Esto asegura que Git lo rastree y GitHub Actions pueda 
# hacerle "push" para guardar la memoria de los correos.